<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
        <nav th:fragment="header">
            <div class="layui-header">
                <ul class="layui-nav">
                    <li class="layui-nav-item  layui-this"><a href="/loginSuccess" target="contain">首页</a></li>
                    <li class="layui-nav-item"><a href="#">百家姓</a></li>
                    <li class="layui-nav-item"><a href="#">论坛</a></li>
                    <li class="layui-nav-item"><a href="#">联系我们</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">产品</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">选项1</a></dd>
                            <dd><a href="">选项2</a></dd>
                            <dd><a href="">选项3</a></dd>
                        </dl>
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <div th:if="${session.user} != null">
                        <li class="layui-nav-item">
                            <a href="javascript:;">
                                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                                贤心
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a href="/loginSuccess" target="contain">个人中心</a></dd>
                                <dd><a href="#">修改密码</a></dd>
                                <dd><a href="/logOut">注销</a></dd>
                            </dl>
                        </li>
                    </div>
                    <div th:if="${session.user} == null">
                        <li class="layui-nav-item"><a id="loginBtn" href="javascript:void(0)" >登录</a></li>
                        <!--<li class="layui-nav-item"><a href="/toRegister">注册</a></li>-->
                    </div>
                </ul>
            </div>
        </nav>
    </body>
</html>